.social {
  display: flex;
  height: 40vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15%;
  color: white;
}

.fa-github {
  font-size: 10rem;
  color: black;
  color: white;
}

.fa-github:hover,
.fa-twitter:hover,
.fa-at:hover,
.fa-linkedin-in:hover {
  color: crimson;
}

.fa-github,
.fa-linkedin-in,
.fa-twitter,
.fa-at::before,
::after {
  transition: all 0.4s ease-in;
}

.fa-linkedin-in {
  font-size: 10rem;
  color: black;
  color: white;
}

.fa-github:hover {
  color: crimson;
}

.fa-github::before,
::after {
  transition: all 0.4s ease-in;
}

.fa-twitter {
  font-size: 10rem;
  color: black;
  color: white;
}

.fa-at {
  font-size: 10rem;
  color: black;
  color: white;
}

@media (max-width: 650px) {
  .social {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50%;
  }

  /* .fa-github .fa-twitter .fa-at .fa-linkedin-in {
    margin: 5%;
  } */
}
